* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{scroll-behavior:smooth}

header {
    background: linear-gradient(rgba(252, 249, 249, 0.4), rgba(241, 236, 236, 0.4)), url("Jaipur images/vloggers10.jpeg");
    width: 100%;
    height: 600px;
}

.logo img {
    margin: 5px;
    border-radius: 39px;
    width: 66px;
    margin-left: -619px;
    height: 61px;
    float: left;
}

nav {
    position: fixed;
    width: 100%;
    padding-left: 658px;
    background-color: black;
}

.nav li {
    font-family: 'Combo', cursive;
    /* font-family: 'Ms Madi', cursive; */
    /* font-family: 'Quicksand', sans-serif; */
    list-style: none;
    font-size: 27px;
    padding: 15px;
    float: left;
}

.nav a:hover {
    color:rgb(226, 130, 130);
    text-decoration: underline;
}

a {
    color: rgb(240, 229, 229);
    text-decoration: none;
}

.heading {
    font-family: 'Combo', cursive;
    text-align: center;
    margin-top: -415px;
    font-size: 29px;
    width: 309px;
    margin-left: 546px
}

.search {
    margin-left: 400px;
    margin-top: 20px;
}

.search input {
    background-color: #efe7f1;
    border-radius: 5px;
    border: 2px solid #d81b60;
    outline: none;
    font-size: 20px;
    width: 394px;
    height: 65px;
    padding: 25px;
}

.search button {
    width: 114px;
    height: 65px;
    margin-left: 3px;
    border-radius: 5px;
    border: 2px solid #d81b60;
    font-size: 25px;
    background-color: #5291f7;
    outline: none;
}

button:hover {
    background-color: #d61e3ab5;
}
.natural{
    width: 567px;
    margin-top: 145px;
    margin-left: 45px;
}
.natural h1{
    font-size:62px;
    width: 414px;
    background-color: aquamarine;
    text-decoration:underline;
    font-family: 'Anton', sans-serif;
   
}
.natural p{
    font-size:30px;
    padding-top: 34px;
    width:549px;
    text-align: justify;
    font-style: italic;
    font-family: cursive;
}
.natural img{
    float: left;
    margin-top: -381px;
    margin-left: 648px;
    width: 609px;
    /* border: 3px solid black; */
    /* box-shadow: -6px 10px 60px black; */
    height: 336px;

}
.foodie{
    background-color:rgb(225, 29, 29);
    width: 567px;
    margin-top:45px;
    margin-left: 45px;
}
.foodie h1{
    float: left;
    margin-left: 770px;
    font-size: 62px;
    width: 215px;
    background-color: #ff3b3b;
    text-decoration: underline;
    font-family: 'Anton', sans-serif;
}
.foodie p{
    float:left;
    margin-left:655px;
    font-size:30px;
    padding-top: 34px;
    width:549px;
    text-align: justify;
    font-style: italic;
    font-family: cursive;
}
.foodie img{
    float:right;
    margin-top: -376px;
    margin-left: 648px;
    width: 609px;
    /* border: 3px solid black; */
    /* box-shadow: -6px 10px 60px black; */
    height: 370px;
}
.mehandi{
    width: 100%;
}
.mehandi h1{
    margin-top:468px;
    font-size:62px;
    width:264px;
    margin-left: 45px;
    background-color:#a95a3e;
    text-decoration:underline;
    font-family: 'Anton', sans-serif;
   
}
.mehandi p{
    font-size:30px;
    padding-top: 34px;
    width:549px;
     margin-left: 45px;
    text-align: justify;
    font-style: italic;
    font-family: cursive;
}
.mehandi img{
    float: left;
    margin-top: -323px;
    margin-left: 648px;
    width: 608px;
    /* border: 3px solid black; */
    /* box-shadow: -6px 10px 60px black; */
    height: 328px;
}
.footer{
    margin-top: 45px;
    width: 100%;
    height: 400px;
    background-color:#be7871;
}
.footer img{
    width: 145px;
    margin-top: 45px;
    border-radius: 106px;
    margin-left: 600px;
    height: 145px;
}
.footer h1{
  margin-top:35px ;
  text-align: center;
}
.b{
    margin-top: 30px;
    font-size: 57px;
    margin-left: 443px;
}
.b i{
    margin-left: 45px;
}
.b i:hover{
    background-color:white;
}

